<style>
  .bg {
    background-image: url(<%= asset_path 'BG.png' %>);
    background-repeat:no-repeat;
    background-size: 100% 100%;
  }
  .bg img {
  	min-height: 100%;
  }
</style>


<body>
	<center>
	  	<div class='bg'>
			
			    <br><br>

			    <br>
			    <br>

			    
			    <h1>
			    <p style="font-size:40px; font-weight:bold; font-family:標楷體; color:blue;">
			    聯絡資訊：<br>
			    米飛爾科技股份有限公司 Miffyer Technology Co. Ltd<br>
				臺灣桃園市龍潭區工二路26巷2號<br>
				Tel: +886 (3)3297820<br>
				Fax: +886 (3)4753172<br>
				EMail: Help@miffyer.com<br>
				</p>
				</h1>

			    <br>
			    <br>
			
	 	</div>
	</center>
</body>